{% extends "index.html" %}

{% block favicon %}
<link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg') }}">
{% endblock favicon %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path='carbon.css') }}">
<link rel="stylesheet" href="{{ get_url(path='custom.css') }}">
{% endblock head %}

{% block hero %}
<section class="text-center">
    <h1 class="heading-text">
        Balint Barna Kovari
    </h1>
    <h3 class="title-text">
        Software Engineer & Robotics Specialist
    </h3>
    <div class="social-links">
        <a href="https://github.com/balintbarna?tab=repositories" target="_blank" rel="noopener">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub">
            <span>GitHub</span>
        </a>
        <a href="https://www.linkedin.com/in/balintbarna/" target="_blank" rel="noopener">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Linkedin_circle.svg" alt="LinkedIn">
            <span>LinkedIn</span>
        </a>
        <a href="mailto:balint@kovari.cc">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Circle-icons-mail.svg" alt="Email">
            <span>Email</span>
        </a>
        <a href="https://codeberg.org/balint" target="_blank" rel="noopener">
            <img src="https://design.codeberg.org/logo-kit/icon.svg" alt_inverted="Codeberg">
            <span>Codeberg</span>
        </a>
    </div>
</section>
<img class="hero-image" src="{{ get_url(path='me_work_square.jpg') }}">

<div class="explore-more text"
    onclick="document.getElementById('projects').scrollIntoView({behavior: 'smooth'})">
    View My Projects ⇩
</div>
{% endblock hero %}

{% block footer %}
<footer>
    <div class="copyright">
        © 2025 Balint Barna Kovari
    </div>
    <div class="links">
        <a href="https://github.com/balintbarna" target="_blank" rel="noopener">GitHub</a>
        <a href="https://www.linkedin.com/in/balintbarna/" target="_blank" rel="noopener">LinkedIn</a>
        <a href="https://codeberg.org/balint" target="_blank" rel="noopener">Codeberg</a>
        <a href="mailto:balint@kovari.cc">Contact</a>
    </div>
</footer>
{% endblock footer %}
